div.dropdown2{
    /*margin-top: 40px;*/
    z-index: 999;
    /*width: 100%;*/
    /*height:100%;*/

    position: absolute;
    overflow: unset !important;
    background: unset !important;
    background-color: #d2d2d2 !important;
    top: 65px !important;
}
#content span .content_git{
    padding-top: 20px;
    padding-left: 0px;
    float: left;
    padding-right: 45px;
}
#content span .content_git:nth-child(3n){
    padding-right: 0px;
}
#page-footer{
    position: relative;
    width: 100%;
}
#page-footer .wrapper{
    display: flex;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
#page-footer .wrapper #bottom2{
    margin: 0 auto;
    padding-top: 20px;
}
#bottom2 ul li{
    margin-left: 0px;
    padding: 0 40px;
}
#footer{
    padding-top: 20px;
}


.Switch li {
    list-style-type: none;
}
.Switch a {
    text-decoration: none;
    color: #000;
}
.Switch {
    /*width: 500px;*/
    display: flex;
    border: 1px solid #000;
}

.Switch .Title li {
    height: 30px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 10px;
    border-right: 1px solid #000;
}
.Switch .Content_box ol li a {
    margin: 10px;
    line-height: 10px;
}

.Switch .Content_box {
    display: none
}

.Switch .boxOne {
    display: block;
}
.Switch .Active {
    background-color: yellowgreen;
}



.dropdown_new_menu {
    /*width: 800px;*/
    /*height: 325px;*/
    margin: auto;
    position: relative;
}
.dropdown_new_menu a {
    text-decoration: none;
    color: #000;
}
.dropdown_new_menu ul{
    list-style: none;
}

.dropdown_new_menu li {
    list-style: none;
}
.dropdown_new_menu ul {
    position: relative;
}
.dropdown_new_menu ol li {
    height: 30px;
}
.dropdown_new_menu .content-box {
    position: absolute;
    right: 0;
    top:0;
}
.dropdown_new_menu input {
    display: none;
}

.dropdown_new_menu input+label+div {
    display: none;
}



.boxswitch {
    /* width:830px; */
    font-size: 14px;
    color: #666666;
}

.boxswitch a {
    text-decoration: none;
    color: #666666;
}

.boxswitch ul{
    list-style: none;
}
.boxswitch li {
    list-style: none;
}

.boxswitch ul {
    position: relative;
}
.boxswitch ol>li {
    border-bottom: 1px solid #c0c0c1;
    padding: 7px 0px 1px 0px;
    line-height: 25px;
}

.content-box {
    position: absolute;
    top:0;
    left: 136px;
}
.content-box .A1 {
    background-color: #e5e5e5;
    padding:0 20px 10px 30px;
    margin: 0px;
}
.content-box .A2 {
    background:linear-gradient(to bottom,#d2d2d2,#e5e5e5);
    padding:0 20px 0 20px;
    margin: 0px;
}
.content-box .A3 {
    background-color: #e5e5e5;
    padding:0 30px 10px 20px;
    margin: 0px;
}

#menu input {
    display: none;
}

#menu input+label {
    width:96px;
    display: block;
    background-color: #d2d2d2;
    padding: 20px;
    font-weight: bold;
}

.content-box {
    display: none;
}


.boxswitch ul li:hover .content-box {
    display: block;
}

.boxswitch ul li label:hover {
    background-color: #e5e5e5;
}



.dropdown2{
    height: 610px;
}
.content-boxs {
    display: flex;
    overflow: hidden;
    width: max-content;
    /*position: fixed;*/
    position: absolute;
    /*top: 65px;*/
    z-index: 999;
}
.content-box {
    width: max-content;
}

.content-boxs ol li:first-child {
    font-weight:bold;
    border: 0;
    padding: 17px 0 7px 0;
}

/* ul li:first-child  input:checked+label {
    padding-bottom:250px;
} */

.boxs_height {
    min-height: 390px;
    max-height: 610px;
}
.dropdown_new_menu ul{
    padding-left: 0px !important;
    margin: 0px !important;
}
.dropdown2{
    padding-top: 0px !important;
    /*padding-bottom: 500px;*/
}
#menu .content-box-first{
    display: block;
}
#menu .yyds{
    background-color: #e5e5e5;
}
#menu .yyds{
    background-color: #e5e5e5;
}







.dropdownsingle .content-box {
    position: absolute;
    top:0;
    left: 0px;
}
.dropdownsingle .content-boxs ol li:first-child {
    font-weight:normal;
    border: 0;
    /*padding: 17px 0 7px 0;*/
    border-bottom: 1px solid #c0c0c1;
    padding: 17px 0 4px 0;
    line-height: 25px;
}
.dropdownsingle .content-box .A1 {
    background-color: #e5e5e5;
    padding:0 20px 10px 20px !important;
    margin: 0px;
}

.mi216 .menu-subscribe a{
    display: block;
    padding-left: 10px;
    /*background: url(https://www.e-iceblue.com/images/cloud/bottom_chioce_1.png) no-repeat;*/
    background: url(../picture/bottom_chioce_1.png) no-repeat;
    background-size: 5px 7px;
    border-bottom: none;
    line-height: 16px;
    background-position: 0px 4px;
}
.mi216 .mi1041{
    height: 65px;
}
#menu .mi315 input+label {
    /*width:96px;*/
    display: block;
    background-color: unset;
    padding: 0px;
    font-weight: bold;
}
#menu .mi315 .menu-tutorials{
    /*padding:0px;*/
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px 0px 20px;
    height: 25px;
}
#menu .mi315 ul li{
    padding: 10px 0px;

    height: 20px;
    /*padding-right: 30px;*/
}
#menu .mi315 ol li{
    padding: 10px 0px;
}
#menu .mi315 div.dropdown2{
    background-color: #f2f2f3 !important;
    /*padding: 0px 20px 0px 20px;*/


}
#menu .mi315 .content-box{
    left: 166px;
    /*margin-left: -20px;*/
}
#menu .mi315 div.dropdown2{
    background-color: #f2f2f3 !important;
    /*padding: 0px 20px 0px 20px;*/


}
#menu .mi315 div.dropdown2 label{
    padding: 0px 20px 0px 20px;
}
#menu .mi315 div.dropdown2 label span{
    border-bottom: 1px solid #E0E0E1;
    height: 20px;
    display: block;
    padding: 0px 0px 10px 0;
    font-weight: normal;
    cursor: pointer;
}
#menu .mi315 input+label {
    width: 126px;
}
#menu .mi315 .content-box .A1 {
    background-color: #e5e5e5;
    padding:0 20px 10px 20px;
    margin: 0px;
    height: 475px;
}
#menu .mi315 .content-box .A1 li:first-child{
    padding-bottom: 5px;
}
#menu .mi315 div.dropdown2 label span:hover{
    color: #1B61A9;
    border-bottom: 1px solid #79b4e0;
}
#menu .mi315 ol li:hover{
    color: #1B61A9;
    border-bottom: 1px solid #79b4e0;
}
#menu .mi315 .dropdown2{
height: auto;
    padding-bottom: 10px;
}
#menu .mi315 .boxs_height {
    min-height: unset;
    max-height: unset;
}
#menu .mi315 .content-box .A1 li:first-child:hover{
 border-bottom: none;
    color: unset;
}


#menu .content-box li:hover{
    color: #1B61A9;
    border-bottom: 1px solid #79b4e0;
}
#menu .content-box li:hover a{
    color: #1B61A9;
    /*border-bottom: 1px solid #79b4e0;*/
}
#menu .content-box .A1 li:first-child:hover{
    color:unset;
    border-bottom: none;
}
#menu .content-box .A2 li:first-child:hover{
    color:unset;
    border-bottom: none;
}
#menu .content-box .A3 li:first-child:hover{
    color:unset;
    border-bottom: none;
}
#menu .dropdownsingle .content-box .A1 li:first-child:hover{
    color: #1B61A9;
    border-bottom: 1px solid #79b4e0;
}
#menu .mi216 .mi1041:hover{
    color:unset !important;
    /*border-bottom: none;*/
}#menu .mi216 .mi1041:hover a{
     color:unset !important;
     /*border-bottom: none;*/
 }


#menu .mi216 .mi1041 a:hover{
    color:unset;
    border-bottom: none;
}

#menu .mi216 .mi1041 .menu-subscribe a:hover{
    color: #1B61A9 !important;
    background: url(../picture/bottom_chioce.png) no-repeat;
    background-position: 0px 4px;
}

#menu .mi315 .dropdown_new_menu ul li .tutorials2 span a{
    color: #666666;
}
#menu .mi216 .mi1041 {
    border-bottom: 1px solid #c0c0c1 !important;
}
#menu .mi216 .mi1041:hover{
    border-bottom: 1px solid #79b4e0 !important;
}

 #menu .mi218{margin-right:134px;}





#menu .mi1041 ul{
    display: none;
}
#menu .mi1041{
    border-bottom: 0px !important;
}
#menu .mi1059 a{
    padding-left:10px;
    background: url("../picture/bottom_chioce_1.png") no-repeat;
    background-size:5px 7px;
    border-bottom: none;
    line-height: 16px;
    background-position: 0px 6px;
}
#menu .mi1059 a:hover{
    background: url("../picture/bottom_chioce.png") no-repeat;
    background-position: 0px 6px;
}
#menu .mi1059{
    line-height: 16px;
    border-bottom: none !important;
}
#menu .mi1060 a{
    padding-left:10px;
    background: url("../picture/bottom_chioce_1.png") no-repeat;
    background-size:5px 7px;
    border-bottom: none;
    line-height: 16px;
    background-position: 0px 6px;
}
#menu .mi1060 a:hover{
    background: url("../picture/bottom_chioce.png") no-repeat;
    background-position: 0px 6px;
}
#menu .mi1060{
    /*padding: 0px !important;*/
    line-height: 16px;
    /*border-bottom: none !important;*/
    padding-bottom: 8px !important;
}
























body#page > div#toolbar {
    font-size: inherit;
    height: inherit;
    text-shadow: inherit;
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
    height: 65px;
}

body#page > div#toolbar > div.wrapper > * {
    float: left;
}

#menu {
    list-style: none;
    margin: 0 0px 0 18px;
    padding: 0;
    color: #7F8384;
    height: 65px;
    overflow: hidden;
    width: 959px;
}

#menu > li {
    float: left;
    margin: 0;
    height: 65px;
}

#menu > li:hover {
    background: url("../images/top_all.png") repeat-x scroll 0 -50px #a5a5a5;
}

#menu a {
    text-decoration: none;
    color: #7F8384;
}

#menu > li.active > a {
    color: #1B61A9
}

#menu > li > a {
    padding: 25px 15px;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: default;
}

#menu > li:hover > a {
    color: #ffffff;
}

#menu > li  > div.separator,
#menu > li  > ul {
    display: none;
}

#menu > li  > div.dropdown {
    position: absolute;
    z-index: 999;
    background: url("../images/top_all.png") 20px 0 no-repeat scroll transparent;
    top: 69px;
    display: none;
    padding-top: 6px;
    overflow: hidden;
}

#menu > li  > div.dropdown > div.column {
    display: inline;
    float: left;
    background-color: #f2f2f3;
    padding: 8px 20px 500em 20px;
    margin-bottom: -500em;

}
#menu > li  > div.dropdown > div.column.right {
    background: url("../images/top_all.png") 0 -342px repeat-x scroll transparent;
}

#menu > li  > div.dropdown > div.column > div.separator {
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;
    margin: 3px 0 5px 0;
}

#menu > li  > div.dropdown > div.column  > ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

#menu > li  > div.dropdown > div.column  > ul > li {
    padding: 4px 0;
    border-bottom: 1px solid #e0e0e1;
}

#menu > li  > div.dropdown > div.column  > ul > li:hover {
    border-bottom-color: #79b4e0;
}

#menu > li  > div.dropdown > div.column  > ul > li:hover a {
    color: #1B61A9
}

#menu > li.icon{
    float: right;
    height: 32px;
    width: 26px;
    margin: 17px 0 16px 15px;
    background: none;
}
#menu > li.icon.user {
    background-position: -26px -115px;
}
#menu > li.icon > a {
    font-size: 0;
    height: 32px;
    width: 26px;
    padding: 0;
    position: absolute;
    top: inherit;
}
#menu > li.icon > a > span {
    height: 26px;
    width: 26px;
    margin: 3px 0;
    position: absolute;
    background: url("../images/top_all.png") 0px -115px no-repeat scroll transparent;
}
#menu > li.user > a > span {
    background-position: -26px -115px;
}
#menu > li.user.login > a {
    cursor: pointer;
}
#menu > li.user.online > a > span {
    background-position: -52px -115px;
}
#menu > li.user div.column {
    background: url("../images/top_all.png") 100% -171px no-repeat scroll #F2F2F3;
}
#menu > li.icon ul {
    min-width: 212px;
}
#menu > li.user ul {
    min-height: 115px;
}
#menu > li.user li.username a {
    font-weight: bold;
}
#menu > li.user li.logout > div {
    height: 32px;
    width: 120px;
    margin: 6px auto 0;
    font-size: 0;
    background: url("../images/top_all.png") 0 -141px no-repeat scroll transparent;
    cursor: pointer;
}
#menu > li.user li.logout > div > a {
    height: 32px;
    width: 120px;
    position: absolute;
}
#menu > li.icon > div.dropdown > div.column  > ul > li {
    border-style: none;
}
#menu > li.search-box div.dropdown {
    background-position: 244px -6px;
}
#menu > li.search-box > div.dropdown > div.column {
    background-color: #BFEAFF;
    margin: 0;
    padding: 20px;
}
#menu > li.search-box > div.dropdown > div.column > ul {
    margin: 0;
}

#menu > li > div.dropdown > div.column > ul > li.bold {
    background: url("../images/top_all.png") -50px -305px no-repeat scroll transparent;
    border-bottom: 1px solid #e0e0e1;
    margin-left: -12px;
    padding-left: 12px;
    font-weight: bold;
}
#menu > li  > div.dropdown > div.column  > ul > li.bold:hover {
    border-bottom-color: #79b4e0;
}
#menu > p{
    float: right;
    margin: 20px 0 16px 15px;
}



































div.dropdown2{
    /*margin-top: 40px;*/
    z-index: 999;
    /*width: 100%;*/
    /*height:100%;*/

    position: absolute;
    overflow: unset !important;
    background: unset !important;
    background-color: #d2d2d2 !important;
    top: 65px !important;
}

.Switch li {
    list-style-type: none;
}
.Switch a {
    text-decoration: none;
    color: #000;
}
.Switch {
    /*width: 500px;*/
    display: flex;
    border: 1px solid #000;
}

.Switch .Title li {
    height: 30px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 10px;
    border-right: 1px solid #000;
}
.Switch .Content_box ol li a {
    margin: 10px;
    line-height: 10px;
}

.Switch .Content_box {
    display: none
}

.Switch .boxOne {
    display: block;
}
.Switch .Active {
    background-color: yellowgreen;
}



.dropdown_new_menu {
    /*width: 800px;*/
    /*height: 325px;*/
    margin: auto;
    position: relative;
}
.dropdown_new_menu a {
    text-decoration: none;
    color: #000;
}
.dropdown_new_menu ul{
    list-style: none;
}

.dropdown_new_menu li {
    list-style: none;
}
.dropdown_new_menu ul {
    position: relative;
}
.dropdown_new_menu ol li {
    height: 30px;
}
.dropdown_new_menu .content-box {
    position: absolute;
    right: 0;
    top:0;
}
.dropdown_new_menu input {
    display: none;
}

.dropdown_new_menu input+label+div {
    display: none;
}



.boxswitch {
    /* width:830px; */
    font-size: 14px;
    color: #666666;
}

.boxswitch a {
    text-decoration: none;
    color: #666666;
}

.boxswitch ul{
    list-style: none;
}
.boxswitch li {
    list-style: none;
}

.boxswitch ul {
    position: relative;
}
.boxswitch ol>li {
    border-bottom: 1px solid #c0c0c1;
    padding: 4px 0;
    line-height: 25px;
}

.content-box {
    position: absolute;
    top:0;
    left: 136px;
}
.content-box .A1 {
    background-color: #e5e5e5;
    padding:0 20px 10px 30px;
    margin: 0px;
}
.content-box .A2 {
    background:linear-gradient(to bottom,#d2d2d2,#e5e5e5);
    padding:0 20px 0 20px;
    margin: 0px;
}
.content-box .A3 {
    background-color: #e5e5e5;
    padding:0 30px 10px 20px;
    margin: 0px;
}

#menu input {
    display: none;
}

#menu input+label {
    width:96px;
    display: block;
    background-color: #d2d2d2;
    padding: 20px;
    font-weight: bold;
}

.content-box {
    display: none;
}


.boxswitch ul li:hover .content-box {
    display: block;
}

.boxswitch ul li label:hover {
    background-color: #e5e5e5;
}



.dropdown2{
    height: 610px;
}
.content-boxs {
    display: flex;
    overflow: hidden;
    width: max-content;
    /*position: fixed;*/
    position: absolute;
    /*top: 65px;*/
    z-index: 999;
}
.content-box {
    width: max-content;
}

.content-boxs ol li:first-child {
    font-weight:bold;
    border: 0;
    padding: 17px 0 7px 0;
}

/* ul li:first-child  input:checked+label {
    padding-bottom:250px;
} */

.boxs_height {
    /*min-height: 325px;*/
    max-height: 610px;
}
.dropdown_new_menu ul{
    padding-left: 0px !important;
    margin: 0px !important;
}
.dropdown2{
    padding-top: 0px !important;
    /*padding-bottom: 500px;*/
}
#menu .content-box-first{
    display: block;
}
#menu .yyds{
    background-color: #e5e5e5;
}
#menu .yyds{
    background-color: #e5e5e5;
}
